<p id="notice"><%= notice %></p>

<h1>Listing Asset Names</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asset_names.each do |asset_name| %>
      <tr>
        <td><%= asset_name.game %></td>
        <td><%= asset_name.score %></td>
        <td><%= link_to 'Show', asset_name %></td>
        <td><%= link_to 'Edit', edit_asset_name_path(asset_name) %></td>
        <td><%= link_to 'Destroy', asset_name, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asset name', new_asset_name_path %>
